<div class="well">
    Los puntos indicativos se resaltan al hacer hover en lugar de permanecer encimados
    <br><br>
    <a routerLink="/">Regresar a inicio</a>
</div>
<div class="map">
    <img src="assets/mexico.png" alt="">
    <map-pointer 
    city="Jalisco" quantity=8256000
    x-axis="440px" y-axis="410px"></map-pointer>
    <map-pointer 
    city="Guanajuato" quantity=5854000
    x-axis="510px" y-axis="400px"></map-pointer>
    <map-pointer 
    city="Querétaro" quantity=2239000
    x-axis="530px" y-axis="400px"></map-pointer>
    <map-pointer 
    city="Edo. México" quantity=16187000
    x-axis="550px" y-axis="430px"></map-pointer>
</div>